In [1]:
import pandas as pd

In [2]:
apps=pd.read_csv('playstore_apps.csv')

In [3]:
apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10840 non-null  float64
 4   Size            10841 non-null  object
 5   Installs        10840 non-null  float64
 6   Type            10840 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.1+ MB

In [4]:
#Task0: Keep Only Requiered columns, columns like last updated, current version, Android version and size are not required
apps.drop(['Size','Last Updated','Current Ver','Android Ver'],axis=1,inplace=True)

In [5]:
apps.duplicated().sum()

485

In [6]:
#TASK1 : REMOVE DUPLICATES FROM THE DATASET
apps.drop_duplicates(keep='first', inplace=True)

In [7]:
#TASK1 CHECKPOINT: CHECK THAT THERE ARE NO DUPLICATE VALUES
apps.duplicated().sum()

0

In [8]:
#TASK2:HANDLE NULL VALUES IN THE DATASET
apps.isna().sum()

App                  0
Category             0
Rating            1465
Reviews              1
Installs             1
Type                 1
Price                1
Content Rating       1
Genres               0
dtype: int64

In [9]:
apps['Rating'].fillna(0,inplace=True)
apps['Reviews'].fillna(0,inplace=True)
apps['Installs'].fillna(0,inplace=True)
apps['Type'].fillna('NA',inplace=True)
apps['Price'].fillna(0,inplace=True)
apps['Content Rating'].fillna('NA',inplace=True)

In [10]:
#task2 checkpoint
apps.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
dtype: int64

In [11]:
#use filter function in excel to get a more clear view of the unique values of each column
#task3: check unique values of Category column and remove irrelevant category
apps['Category'].unique()
index_names = apps[ apps['Category'] == '1.9' ].index
apps.drop(index_names, inplace = True)
apps['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [12]:
#task3 checkpoint
apps['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [13]:
#task4: Check unique values of Type column, keep the apps having type free or paid only. if there are any other vaues other than free or paid change it to the type having maximum count
apps['Type'].unique()
apps['Type'].str.contains('NA').sum()
apps['Type'].replace(to_replace='NA',value='Free',inplace=True)
apps['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [14]:
#Task4 Checkpoint:
apps['Type'].unique()
apps['App'].str.startswith('?').sum()

30

In [15]:
#Task5 Remove apps with irrelvant names. starting with ??
apps=apps[apps['App'].str.startswith('?')==False]

#dont remove this line
apps['App'].str.startswith('?').sum()

0

In [16]:
#task5 checkpoint:

apps['App'].str.startswith('?').sum()

0

In [17]:
#task6: Remove rows with nan values in the reviews dataset
reviews=pd.read_csv('playstore_reviews.csv')
reviews.dropna(inplace=True)
#dont remove this line
reviews.isna().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [18]:
apps.to_csv('cleaned_apps.csv')
reviews.to_csv('cleaned_reviews.csv')